spring:
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:9092
          #zk-nodes: bigdata-cloud-dev00:2181,bigdata-cloud-dev01:2181,bigdata-cloud-dev02:2181
          minPartitionCount: 1
          autoCreateTopics: false
          autoAddPartitions: false